Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

The CITY table is described as follows:

![Output](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

In [0]:
from pyspark.sql import SparkSession

# Start Spark session
spark = SparkSession.builder \
    .appName("Japanese Cities Query") \
    .getOrCreate()

# Sample data including Japanese cities
city_data = [
    (1, "Tokyo", "JPN", "Tokyo-to", 13350000),
    (2, "Osaka", "JPN", "Osaka", 2691000),
    (3, "Kyoto", "JPN", "Kyoto", 1475000),
    (4, "Nagoya", "JPN", "Aichi", 2296000),
    (5, "New York", "USA", "New York", 8008278),
    (6, "London", "GBR", "England", 8788000)
]

columns = ["ID", "NAME", "COUNTRYCODE", "DISTRICT", "POPULATION"]

# Create DataFrame
city_df = spark.createDataFrame(city_data, columns)

# Register as a temporary table
city_df.createOrReplaceTempView("CITY")

In [0]:
%sql
SELECT *
FROM CITY
WHERE COUNTRYCODE = "JPN"

ID,NAME,COUNTRYCODE,DISTRICT,POPULATION
1,Tokyo,JPN,Tokyo-to,13350000
2,Osaka,JPN,Osaka,2691000
3,Kyoto,JPN,Kyoto,1475000
4,Nagoya,JPN,Aichi,2296000

In [0]:
from pyspark.sql.functions import col

city_df.where("COUNTRYCODE == 'JPN'").show()

+---+------+-----------+--------+----------+
| ID|  NAME|COUNTRYCODE|DISTRICT|POPULATION|
+---+------+-----------+--------+----------+
|  1| Tokyo|        JPN|Tokyo-to|  13350000|
|  2| Osaka|        JPN|   Osaka|   2691000|
|  3| Kyoto|        JPN|   Kyoto|   1475000|
|  4|Nagoya|        JPN|   Aichi|   2296000|
+---+------+-----------+--------+----------+

In [0]:
city_df.filter("COUNTRYCODE == 'JPN'").select("ID", "Name", "CountryCode", "District", "Population").show()

+---+------+-----------+--------+----------+
| ID|  Name|CountryCode|District|Population|
+---+------+-----------+--------+----------+
|  1| Tokyo|        JPN|Tokyo-to|  13350000|
|  2| Osaka|        JPN|   Osaka|   2691000|
|  3| Kyoto|        JPN|   Kyoto|   1475000|
|  4|Nagoya|        JPN|   Aichi|   2296000|
+---+------+-----------+--------+----------+